<?xml version='1.0' encoding='utf-8'?>
<configuration>
	<default name="Default_conf">
		<algorithm>recursive</algorithm>
		<difficulty>Easy</difficulty>
		<solver_output_type>html</solver_output_type>
		<path_output>outputs</path_output>
	</default>
	<levels>
		<level id="0" max="45" min="40" name="Easy" />
		<level id="1" max="46" min="50" name="Medium" />
		<level id="2" max="51" min="65" name="Hard" />
	</levels>
</configuration>